$primary: #f700eb;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerBrand {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.header {
  box-shadow: 0px 4px 8px 2px #00000038;
  border-radius: 0px 0px 20px 20px;
}

.avatar {
  margin-top: 20px;
  width: 300px;
  border-radius: 20px;
  background: $dark;
  &Img {
    border-radius: 20px;
  }
  &Footer {
    margin: 0 auto;
  }
}

.text {
  width: 100%;
  margin-top: 20px;
}

.tabl {
  margin-top: 10px;
}

.end {
  color: #f700eb;
}

.imgH {
  margin-top: -8px;
}

.vk {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .cont {
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .avatar {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .avatar {
    width: 280px;
  }
}
